.table_result_red {
    box-shadow: 0px 0px 20px red;
}

.table_result_black {
    box-shadow: 0px 0px 20px blue;
}

.cell-bestPlayer {
    color: rgb(12, 230, 12);
    font-size: 22px;
}

.cell-modKill {
    color: rgb(242, 16, 8);
    font-size: 22px;
}

.table__add-button_hidden {
    display: none;
}

.button__load-more {
    width: 100%;
    margin-bottom: 20px;
    line-height: 40px;
    background-color: blue;
}
