@import "../mixin.scss";
.menu {
  width: 100%;
  // @include maxWidthLarge;
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  // height: 100vh;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  padding: 18px 16px 62px 16px;
  box-sizing: border-box;
  // display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  
}
.menu_opened {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  pointer-events: auto;
}
.menu__wrapper {
 height: 90vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.menu__head {
  display: flex;
  gap: 26px;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #EBEDF0;
  margin-bottom: 40px;
}
.menu__close {
  width: 24px;
  height: 24px;
  background-image: url(../../image/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s;
}
.menu__close:hover{
    @include hover;
}
.menu__title {
  @include boldText;
  font-size: 20px;
  line-height: 20px;
  color: #2e3555;
  margin: 0;
}
.menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.menu__nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 56px;
}
.menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-left: 4px #ffffff solid;
}

.menu__link-active {
  border-left: 4px #4480f3 solid;
}
.menu__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__button {
    width: 100%;
    align-self: end;
   
}
