@import "../mixin.scss";
.profile {
  min-width: 477px;
  height: 100vh;
  background: #ffffff;
  padding: 32px 32px 0 32px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__title {
  @include semiBoldText;
  font-size: 24px;
  line-height: 32px;
  color: #2e3555;
  margin: 0 0 24px 0;
}
.profile__close {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../../image/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.profile__close:hover {
  @include hover;
}
.profile__avatar {
  width: 64px;
  height: 64px;
}
.profile__name-container {
  display: flex;
  gap: 21px;
  align-items: center;
  margin-bottom: 24px;
}
.profile__name-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.profile__raiting {
  @include regularText;
  font-size: 13px;
  line-height: 16px;
  color: #80858e;
  margin: 0;
}
.profile__name {
  @include mediumText;
  font-size: 18px;
  line-height: 16px;
  color: #2e3555;
  margin: 0;
}
.profile__data {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 0 0 24px 0;
}
.profile__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ebedf0;
  box-shadow: 0px 2px 10px rgba(127, 142, 164, 0.25);
  border-radius: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
}
.profile__text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.profile__description {
  @include regularText;
  font-size: 16px;
  line-height: 16px;
  color: #2e3555;
  margin: 0;
}
.profile__number {
  @include semiBoldText;
  font-size: 16px;
  line-height: 16px;
  color: #2e3555;
  margin: 0;
}
.profile__progress {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile__progress-item {
  width: 100%;
  border: 1px solid #ebedf0;
  box-shadow: 0px 2px 10px rgba(127, 142, 164, 0.25);
  border-radius: 8px;
  padding: 12px 16px;
}
.profile__setting {
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto 50px auto;
  background-color: transparent;
}
.profile__setting:hover {
  @include hover;
}
.profile__setting-text {
  @include regularText;
  font-size: 16px;
  line-height: 32px;
  color: #525760;
  margin: 0;
  white-space: nowrap;
}
.profile__close-btn {
  padding: 0 16px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  @include regularText;
  font-size: 16px;
  line-height: 40px;
  color: #118dff;
  background: #ebefff;
  border-radius: 8px;
  margin-bottom: 32px;
  width: 100px;
}
@media screen and (max-width: 769px) {
  .profile {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .profile {
    min-width: 288px;
    width: 100%;
    padding: 16px 16px 0 16px;
  }
  .profile__title {
    font-size: 24px;
    line-height: 24px;
    max-width: 254px;
    margin-bottom: 16px;
  }
  .profile__avatar {
    width: 48px;
    height: 48px;
  }
  .profile__data{
    gap: 10px;
  }
  .profile__name-container {
    margin-bottom: 16px;
  }
  .profile__item {
    padding: 6px 12px;
  }
  .profile__progress-item {
    padding: 6px 12px;
  }
  .profile__img {
    width: 24px;
    height: 24px;
  }
  .profile__setting {
    margin-bottom: 24px;
  }
  .profile__close-btn{
    width: 100%;
  }
}
