.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: .5s;
    /* z-index: 3; */
}

.form {
    min-width: 630px;
    min-height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    color: black;
}

.form__close {
    width: 32px;
    height: 32px;
    background: transparent url(../../image/Close_Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .5s;
    object-fit: contain;
    object-position: center;
    border: 1px red;
}

.form__close:hover {
    opacity: 0.6;
}

.form__container {
    border: none;
    padding: 0;
    margin: 0 0 18px 0;
    /* max-width: 358px; */
    width: 100%;
}

.form__save {
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    transition: .5s;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.form__save:hover {
    opacity: 0.6;
}

.form__save:disabled {
    background-color: rgb(180, 191, 191);
    cursor: default;
}

.form__save:disabled:hover {
    opacity: 1;
}


@media screen and (max-width: 960px) {
    .form__container {
        /* max-width: 238px; */
    }

    .form__save {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}
