@import "../mixin.scss";
.matches {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}
.matches__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0;
}
.matches__title {
    @include boldText;
    font-size: 32px;
    line-height: 48px;
    margin: 0;
  }
.table__cell_result {
    border: none
}

.table__cell_color_red {
    background-color: red;
}

.table__cell_color_black {
    background-color: blue;
}

.table__match-title-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.matches__nav-list {
    display: flex;
    gap: 10px;
    list-style: none;
}

.matches__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
}

.matches__link-active {
    background: blue;
}
