@import "../mixin.scss";
.body {
  background: #f9f9fa;
}
.page {
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  color: #2e3555;
}
