.unit__name {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.table__input-name {
    background: transparent;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: #fff;
    text-align: center;
}

.table__input-name:focus {
    border: rgba(84, 84, 84, 0.7);
}

.table__delete-button {
    width: 50px;
    height: 20px;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    background-image: url(../../image/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
    align-self: center;
    cursor: pointer;

}

.table__delete-button:hover {
    /* opacity: 0.6; */
}

.table__edit-button {
    width: 50px;
    height: 20px;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    background-image: url(../../image/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
    align-self: center;
    cursor: pointer;
}

/* .table__edit-button:hover {
    opacity: 0.6;
} */



.tooltip::after {
    /* background: rgba(0, 0, 0, 0.8); */
    background: #fff;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    /* color: #FFF; */
    color: #000000;
    content: attr(data-tooltip);
    /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    opacity: 0;
    /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    /* ...и скрыт. */
    transition: all 0.4s ease-in-out;
    /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
    opacity: 1;
    /* Показываем его */
    visibility: visible;
}

.table__save-button_visible {
    width: 100px;
    height: 20px;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    transition: .5s;
    align-self: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(84, 84, 84, 0.7);
    border-radius: 5px;
}

.table__save-button_hidden {
    width: 100px;
    height: 20px;
    visibility: hidden;
    opacity: 0;

}


.unit__name {
    display: flex;

    gap: 5px;
    justify-content: space-between;
}
