.unit {
  border-radius: 8px;
}
@media screen and (max-width: 769px) {
  .unit:hover {
    background-color: #f6f6f6;
    cursor: pointer;
  }
  .unit__profile {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .unit__amount{
    display: none;
  }
  .unit__victory{
    display: none;
  }
  .unit__bestPlayer{
    display: none;
  }


  
}
