.infotooltip {
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    min-height: 15px;
    text-align: center;
    color: #FF004C;
    /* margin: 0 auto 20px auto; */
    display: block;


}
