@import "../mixin.scss";
.form_match-edit {
  gap: 20px;
}
.match-edit {
  min-width: 477px;
  height: 100vh;
  background: #ffffff;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.match-edit__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match-card__title {
  @include semiBoldText;
  font-size: 24px;
  line-height: 32px;
  color: #2e3555;
  margin: 0 0 8px 0;
  max-width: 360px;
}

.match-edit__close {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../../image/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.match-edit__close:hover {
  @include hover;
}
.form__container_match-edit {
  gap: 4px;
}
.match-edit__result-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.match-edit__input {
  margin-bottom: 12px;
}
.match-edit__result-container {
  margin-bottom: 16px;
}
.select-input {
  @include regularText;
  font-size: 16px;
  line-height: 20px;
  color: #80858e;
  width: 100%;
  height: 38px;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  // border: 1px solid rgba(212, 213, 217, 0.7);
  // border-radius: 8px;
}
.match-edit__label {
  margin: 0;
}
.match-edit__user-title {
  margin-bottom: 16px;
}
.match-card__users_match-edit {
  margin: 0;
}
.match-edit__button {
  @include regularText;
  font-size: 15px;
  line-height: 40px;
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  transition: 0.5s;
}
.match-edit__button:hover {
  @include hover;
  background: #ebefff;
}
.match-edit__add-unit {
  color: $font-color;
}
.match-edit__delete-match {
  color: #eb5757;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.match-edit__delete-img {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../image/icons/red_basket.svg);
}
.match-edit__delete-text {
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .match-edit {
    width: 100%;
    height: 100%;
  }
  .match-card__users_match-edit {
   display: grid;
   grid-template-columns: repeat(2, minmax(min-content, 348px));
   gap: 5px;
  }

}
@media screen and (max-width: 540px) {
  .form_match-edit {
    gap: 16px;
  }
  .match-edit {
  min-width: 288px;
  padding: 16px;
}
}
