@import "../mixin.scss";
.header {
  width: 100%;
  background: #ffffff;
}
.header__container {
  @include maxWidthLarge;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  min-height: 90px;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
}
// .header__burger {
// width: 24px;
// height: 24px;
// background-image: url(../../image/icons/Icon_hamburger.svg);
// background-repeat: no-repeat;
// background-position: center;
// background-color: transparent;
// position: absolute;
// top: 16px;
// left: 20px;
// display: none;
// cursor: pointer;
// transition: .5s;
// border: none;
// padding: 0;
// }
.header__burger:hover {
  @include hover;
}
.header__logo {
  @include boldText;
  font-size: 24px;
  line-height: 20px;
  color: #2e3555;
  margin: 0;
}
.header__logo-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header__nav-container {
  display: flex;
  gap: 56px;
}
// .header__nav-wrapper{
//     margin: 0;
//     padding: 0;
// }
.header__nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.header__nav-item:hover {
  @include hover;
}
.header__nav-text {
  @include mediumText;
  color: #2e3555;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.header__nav-icon {
  width: 20px;
  height: 20px;
}
.header__nav-icon_raiting {
  background: url(../../image/icons/fluent_arrow-trending-16-filled.svg)
    no-repeat;
}
.header__nav-icon_matches {
  background: url(../../image/icons/fluent_city-16-filled.svg) no-repeat;
}
.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  padding-bottom: 8px;
  /* color: #fff; */
}

.header__link-active {
  border-bottom: 4px #4480f3 solid;
}

.button {
  @include regularText;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  width: 145px;
  padding: 0;
  transition: 0.5s;
  align-self: center;
  cursor: pointer;
  background: #118dff;
  border-radius: 8px;
  border: none;
}

.button:hover {
  @include hover;
}
.header__burger {
  cursor: pointer;
  display: none;
}

.header__burger input {
  display: none;
}

.header__burger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

// .header__burger input:checked + svg {
//   transform: rotate(-45deg);
// }

// .header__burger input:checked + svg .line-top-bottom {
//   stroke-dasharray: 20 300;
//   stroke-dashoffset: -32.42;
// }
.header__burger {
  .header__burger-input + svg {
    transform: rotate(-45deg);
  }
}

.header__burger {
  .header__burger-input + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}
.header_button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.header__logout {
  @include mediumText;
  color: #2e3555;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  border-bottom: 4px #ffffff solid;
  transition: 0.5s;
}
.header__logout:hover {
  // @include hover;
  border-bottom: 4px #4480f3 solid;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header__container {
    @include maxWidthMedium;
  }
}
@media screen and (max-width: 769px) {
  .header__container {
    @include maxWidthSmall;
  }
}
@media screen and (max-width: 680px) {
  .header {
    border-bottom: 1px solid #ebedf0;
  }
  .header__container {
    min-height: 56px;
    padding: 0 20px;
  }
  .header__burger {
    display: block;
  }
  .header__nav-wrapper {
    display: none;
  }
  .header__button {
    display: none;
  }
  // .header__logo {
  //   margin: 0 0 0 46px;
  // }
}
// @media screen and (max-width: 540px) {
//   .header__container {
//     @include maxWidthExtraSmall;
//   }

// }
