$font-family: 'Inter', Arial, Helvetica, sans-serif;
@mixin regularText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
}
@mixin mediumText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
}
@mixin boldText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
}
