@import "../mixin.scss";
.form__title {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 50px 0;
}

.form__label {
    text-align: left;
}

.form__inputs {
    border: none;
    margin-bottom: 20px;
}

.form__input {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    /* padding: 0 0 13px 0; */
}

.form__input:disabled {
    background: #d9d7d7;
}
.form__unputs-text {
    display: flex;
    flex-direction: column;
}

.login__button {
    @include regularText;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    width: 100%;
    padding: 0;
    transition: 0.5s;
    align-self: center;
    cursor: pointer;
    background: #118dff;
    border-radius: 8px;
    border: none;
  }
  
  .login__button:hover {
    @include hover;
  }

.form__submit:disabled {
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    background: #9b9a9a;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    color: #C2C2C2;
    margin-bottom: 16px;
    cursor: default;
}

.form__submit:hover {
    opacity: .6;
}

.form__submit:hover:disabled {
    opacity: 1;
}

.form__close {
    width: 32px;
    height: 32px;
    background: transparent url(../../image/Close_Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .5s;
    object-fit: contain;
    object-position: center;
    border: 1px red;
}


.form__close:hover {
    opacity: 0.6;
}


.login{
        max-width: 880px;
        margin: auto;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
}

.login__form {
    width: 358px;
    margin: auto;
    border: 0;
}

.login__entry {
    transition: .5s;
 
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
    margin: 0 auto;
    text-decoration: none;
}

.login__entry:hover {
    opacity: 0.6;
}
